<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067312791185-rrkfomgv2k2ftkl12c9stk5m4g69rr8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067312791185-rrkfomgv2k2ftkl12c9stk5m4g69rr8f</string>
	<key>API_KEY</key>
	<string>AIzaSyBaDLol8kZpD4IQEwHdIoCkz7OBvXT4CNw</string>
	<key>GCM_SENDER_ID</key>
	<string>1067312791185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.thushal.ihtMadhushankha-Cobsccomp005</string>
	<key>PROJECT_ID</key>
	<string>ihtmadhushankha-cobsccomp005</string>
	<key>STORAGE_BUCKET</key>
	<string>ihtmadhushankha-cobsccomp005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067312791185:ios:d21607451058e94a280930</string>
</dict>
</plist>
